{% load static %}
<!--Start footer area --> 
<footer class="footer-area">
    <div class="shape3 wow slideInLeft" data-wow-delay="500ms" data-wow-duration="7500ms">
        <img src="{% static 'assets/images/shape/shape-round-3.png' %}" alt="">
    </div>
    <div class="shape4 wow slideInRight" data-wow-delay="1000ms" data-wow-duration="6500ms">
        <img src="{% static 'assets/images/shape/shape-round-4.png' %}" alt="">
    </div>
    <div class="subscribe-cotent-box">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-right-rtl">
                    <div class="subscribe-box">
                        <div class="inner-title">
                            <h2>Inscreva-se para o Boletim<br> e receba as últimas notícias &<br> atualizações.</h2>
                        </div>
                        <form class="subscribe-form" action="index-3.html#">
                            <input type="email" name="email" placeholder="Seu endereço de e-mail">
                            <button class="btn-one" type="submit"><span class="txt">Inscreva-se Agora</span></button>
                        </form>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6">
                    <div class="subscribe-box-house wow slideInRight" data-wow-delay="500ms" data-wow-duration="4500ms">
                        <div class="inner float-bob-y">
                            <img class="paroller" src="{% static 'assets/images/shape/house-2.png' %}" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Início do Rodapé-->
    <div class="footer">
        <div class="shape1 wow slideInLeft" data-wow-delay="500ms" data-wow-duration="4500ms">
            <img class="float-bob-y" src="{% static 'assets/images/shape/footer-hand-1.png' %}" alt="">
        </div>
        <div class="shape2 wow slideInRight" data-wow-delay="500ms" data-wow-duration="4500ms">
            <img src="{% static 'assets/images/shape/footer-hand-2.png' %}" alt="">
        </div>
        <div class="container">
            <div class="row text-right-rtl">

                <!--Início do widget de rodapé único-->
                <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 wow animated fadeInUp" data-wow-delay="0.1s">
                    <div class="single-footer-widget marbtm50">
                        <div class="our-company-info">
                            <div class="footer-logo">
                                <a href="{% url 'home' %}"><img style="width: 100px;" src="{% static 'assets/images/logo.png' %}" alt=""/></a>
                            </div>
                            <div class="text-box">
                                <p>Transforme seus sonhos em realidade com o lar perfeito. Encontre a casa ideal para você e sua família.</p>
                            </div>
                            <div class="footer-social-link">
                                <ul class="clearfix">
                                    <li><a href="index-3.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="index-3.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="index-3.html#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="index-3.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                           
                        </div>     
                    </div>
                </div>
                <!--Fim do widget de rodapé único-->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.3s">
                    <div class="single-footer-widget margin__top">
                        <div class="title">
                            <h3>Services</h3>
                        </div>
                        <div class="footer-widget-links">
                            <ul>
                                <li><a href="index-3.html#">Sobre Nós</a></li>    
                                <li><a href="index-3.html#">Listagens</a></li>             
                                <li><a href="index-3.html#">Como Funciona</a></li>             
                                <li><a href="index-3.html#">Nossos Serviços</a></li>             
                                <li><a href="index-3.html#">Nosso Blog</a></li>                                    
                                <li><a href="index-3.html#">Contate-Nos</a></li>                         
                            </ul>                   
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="single-footer-widget margin__top pdtop50">
                        <div class="title">
                            <h3>Contatos</h3>
                        </div>
                        <div class="footer-widget-contact-info">
                            <ul>
                                <li>
                                    <div class="inner">
                                        <div class="icon mapmarker">
                                            <span class="flaticon-maps-and-flags"></span>
                                        </div>
                                        <div class="text">
                                            <p>Lunada, zango 8000</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <div class="icon">
                                            <span class="flaticon-microphone-black-shape"></span>
                                        </div>
                                        <div class="text">
                                            <p>Ligue: <a href="tel:123456789">+244 923908353</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <div class="icon">
                                            <span class="flaticon-email"></span>
                                        </div>
                                        <div class="text">
                                            <p><a href="mailto:yourmail@email.com">muquissicarlos@gmail.com</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>                       
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--Fim do Rodapé-->

    <div class="footer-bottom">
        <div class="container">
            <div class="bottom-inner">
                <div class="copyright">
                    <p>Copyright &copy;<a href="index.html"> 2022 Carhousy.</a> Todos os direitos reservados.</p>
                </div>
                <div class="footer-menu">
                    <ul class="footer-nav">
                        <li><a href="index.html">Termos de Serviço</a></li>
                        <li><a href="index.html">Política de Privacidade</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>

<!--End footer area-->


<button class="scroll-top scroll-to-target" data-target="html">
    <span class="flaticon-up-arrow"></span>
</button> 



<!-- search-popup -->
<div id="search-popup" class="search-popup">
    <div class="close-search"><i class="icon-close"></i></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form method="post" action="index.html">
                <div class="form-group">
                    <fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Pesquise Aqui" required>
                        <input type="submit" value="Pesquisar!" class="theme-btn style-four">
                    </fieldset>
                </div>
            </form>
            <h3>Palavras-chave de Pesquisa Recentes</h3>
            <ul class="recent-searches">
                <li><a href="index.html">Apartamentos para Venda</a></li>
                <li><a href="index.html">Casas para Aluguel</a></li>
                <li><a href="index.html">Imóveis Comerciais</a></li>
                <li><a href="index.html">Lançamentos Imobiliários</a></li>
                <li><a href="index.html">Imóveis de Luxo</a></li>
                <li><a href="index.html">Imóveis em Luanda</a></li>
                <li><a href="index.html">Apartamento no Centro</a></li>
                <li><a href="index.html">Condomínios Fechados</a></li>
                <li><a href="index.html">Imóveis com Piscina</a></li>
                <li><a href="index.html">Terrenos para Construção</a></li>
                <li><a href="index.html">Imóveis para Investimento</a></li>
                <li><a href="index.html">Financiamento Imobiliário</a></li>
                <li><a href="index.html">Aluguel Temporário</a></li>
                <li><a href="index.html">Imóveis de Alto Padrão</a></li>
                <li><a href="index.html">Imóveis em Praia</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- search-popup end -->
</div> 

<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/aos.js' %}"></script>
<script src="{% static 'assets/js/appear.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.js' %}"></script>
<script src="{% static 'assets/js/jquery.countTo.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.enllax.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/knob.js' %}"></script>
<script src="{% static 'assets/js/map-script.js' %}"></script>
<script src="{% static 'assets/js/owl.js' %}"></script>
<script src="{% static 'assets/js/pagenav.js' %}"></script>
<script src="{% static 'assets/js/parallax.min.js' %}"></script>
<script src="{% static 'assets/js/scrollbar.js' %}"></script>
<script src="{% static 'assets/js/TweenMax.min.js' %}"></script>
<script src="{% static 'assets/js/validation.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>
<script src="{% static 'assets/js/color-switcher.min.js' %}"></script>

<script src="{% static 'assets/js/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/tilt.jquery.js' %}"></script>



<!-- thm custom script -->
<script src="{% static 'assets/js/custom.js' %}"></script>
