{% load static %}
<div class="header-top text-right-rtl">
    <div class="auto-container">
        <div class="outer-box">
            
            <div class="header-top__left">
                <div class="header-contact-info">
                    <ul>
                        <li>
                            <div class="icon">
                                <span class="flaticon-pin-1"></span>
                            </div>
                            <div class="text">
                                <h6>Rua da Missão, Luanda, Angola</h6>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="flaticon-clock"></span>
                            </div>
                            <div class="text">
                                <h6>Seg - Sáb 9:00 - 18:00</h6>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="flaticon-phone-call-2"></span>
                            </div>
                            <div class="text">
                                <h6><a href="tel:123456789">+244 923 908 353</a></h6>
                            </div>
                        </li>
                    </ul>
                </div>    
            </div>

            <div class="header-top__right">
                <div class="header-social-link">
                    <div class="social-link">
                        <ul class="clearfix">
                            <li>
                                <a href="projects.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                            </li>
                            <li>
                                <a href="projects.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                            </li>
                            <li>
                                <a href="projects.html#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> 
                            </li>
                            <li>
                                <a href="projects.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="thm-space-box"></div>

                
                <div  class="signin-box">
                    {% if usuario_logado and usuario_logado.id %}
                        <div style="position: relative; z-index: 1000;" class="dropdown">
                                {% if usuario_logado.imagem %}
                                    <p></p>
                                {% else %}
                                    <span class="flaticon-user-2"></span>
                                {% endif %}
                                <a href="#" style="color: black;"></a>
                            </button>
                        </div>
                    {% else %}
                        <a href="{% url 'sign_up' %}">
                            <span class="flaticon-user-2"></span> Login | Cadastro
                        </a>
                    {% endif %}
                </div>

                <div class="thm-space-box"></div>
                
            </div>

        </div>    
    </div>
</div>


<!--End Header Top-->

<!--Start Header--> 
<div class="header header--style3">
    <div class="auto-container">
        <div class="outer-box">
            <div class="header-left">
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img style="width: 140px;" src="{% static 'assets/images/IMG-20250609-WA0030-removebg-preview.png' %}" alt="Awesome Logo" title="">
                    </a>
                </div>
            </div>
        
            <div class="header-middle">
                <div class="nav-outer style1 clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <div class="inner">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                    </div>
                    <!-- Main Menu -->
                    <nav class="main-menu style1 navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li>
                                    <a href="{% url 'home' %}">
                                        <i class="fas fa-home"></i> Início
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="index-3.html#">
                                        <i class="fas fa-file-alt"></i> Páginas
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="{% url 'house_buy' %}">
                                                <i class="fas fa-home"></i> Imóveis
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Nossa_missao' %}">
                                                <i class="fas fa-bullseye"></i> Nossa Missão
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'sobre' %}">
                                                <i class="fas fa-info-circle"></i> Sobre
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'sobre' %}#recognition">
                                                <i class="fas fa-award"></i> Premiação & Reconhecimento
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'equipe' %}">
                                                <i class="fas fa-users"></i> Nossa Equipe
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'home' %}#depoimento">
                                                <i class="fas fa-comments"></i> Depoimentos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'faq' %}">
                                                <i class="fas fa-question-circle"></i> FAQ’s
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'servico' %}">
                                        <i class="fas fa-cogs"></i> Serviços
                                    </a>
                                </li>
                                <!---<li>
                                    <a href="#">
                                        <i class="fas fa-blog"></i> Blog
                                    </a>
                                </li>-->
                                <li>
                                    <a href="{% url 'contacto' %}">
                                        <i class="fas fa-envelope"></i> Contacto
                                    </a>
                                </li>
                            </ul>
                            
                        </div>
                    </nav>
                </div>
            </div> 
        
            <div class="header-right">
                
                <div class="btns-box">
                    <a class="btn-one" href="{% url 'nova_casa' %}" style="margin-right: 16px; width: 140px; height: 50px; align-items: center; justify-content: center; display: flex;">
                        <span class="txt">Publicar</span>
                    </a>
                </div>
                
                <div style="margin-top: 12px;" class="serach-button-style1">
                    <button type="button" class="search-toggler">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                
                
                <div class="thm-space-box-2"></div>
                <div class="header-right_buttom">
                    <div class="signin-box">
                        {% if usuario_logado and usuario_logado.id %}
                        <div class="dropdown user-dropdown" style="position: relative; z-index: 1000;">
                            <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if usuario_logado.imagem %}
                                    <img src="{{ usuario_logado.imagem.url }}" alt="Foto de perfil" class="rounded-circle me-2" width="40" height="40">
                                {% else %}
                                    <span class="flaticon-user-2 me-2"></span>
                                {% endif %}
                                <span class="user-name">
                                    {% with usuario_logado.nome.split as nome_dividido %}
                                        {{ nome_dividido.0|first }}{% if nome_dividido|length > 1 %}{{ nome_dividido.1|first }}{% endif %}
                                    {% endwith %}
                                </span>
                            </button>
                            <ul style="background-color: rgb(20, 20, 43);" class="dropdown-menu shadow border-0" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'perfil_usuario' %}">
                                        <i class="fas fa-user-circle me-2"></i> Meu Perfil
                                    </a>
                                </li>
                                {% if usuario_logado.tipo_usuario == 'cliente' %}
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="{% url 'nova_casa' %}">
                                            <i class="fas fa-home me-2"></i> Publicar Imóveis
                                        </a>
                                    </li>
                                    <li> 
                                        <a class="dropdown-item d-flex align-items-center" href="{% url 'imoveis_publicados' %}">
                                            <i class="fas fa-building me-2"></i> Imóveis Publicados
                                        </a>
                                    </li>
                                {% elif usuario_logado.tipo_usuario == 'corretor' %}
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <i class="fas fa-clock me-2"></i> Imóveis Pendentes
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="{% url 'nova_casa' %}">
                                            <i class="fas fa-home me-2"></i> Publicar Imóveis
                                        </a>
                                    </li>
                                    <li> 
                                        <a class="dropdown-item d-flex align-items-center" href="{% url 'imoveis_publicados' %}">
                                            <i class="fas fa-building me-2"></i> Imóveis Publicados
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <i class="fas fa-bell me-2"></i> Notificações
                                        </a>
                                    </li>
                                    
                                {% elif usuario_logado.tipo_usuario == 'empresa' %}
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="{% url 'imoveis_publicados' %}">
                                            <i class="fas fa-building me-2"></i> Imóveis Publicados
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="{% url 'nova_casa' %}">
                                            <i class="fas fa-home me-2"></i> Publicar Imóveis
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <i class="fas fa-chart-line me-2"></i> Relatórios de Vendas
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <i class="fas fa-bell me-2"></i> Notificações
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <i class="fas fa-file-alt me-2"></i> Contratos
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <i class="fas fa-cogs me-2"></i> Configurações de Empresa
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <i class="fas fa-cog me-2"></i> Configurações
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center text-danger" href="{% url 'logout' %}">
                                        <i class="fas fa-sign-out-alt me-2"></i> Sair
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <p>.</p>
                    {% endif %}


                    </div>
                </div>
            </div>
        </div>
        
    </div>    
</div>

<!--End header-->

<!--Sticky Header-->
<div class="sticky-header">
    <div class="container">
        <div class="clearfix">
            <!--Logo-->
            <div class="logo float-left">
                <a href="{% url 'home' %}" class="img-responsive"><img style="width: 100px;" src="{% static 'assets/images/IMG-20250609-WA0030-removebg-preview.png' %}" alt="Awesome Logo" title=""></a>
            </div>
            <!--Right Col-->
            <div class="right-col float-right">
                <!-- Main Menu -->
                <nav class="main-menu clearfix">
                <!--Keep This Empty / Menu will come through Javascript-->
                </nav>   
            </div>
        </div>
    </div>
</div>
<!--End Sticky Header-->

<!-- Mobile Menu  -->
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn">
        <span class="icon fa fa-times-circle"></span>
    </div>
    <nav class="menu-box">
        <div class="nav-logo">
            <a href="{% url 'home' %}">
                <img style="width: 100px;" src="{% static 'assets/images/logo.png' %}" alt="Awesome Logo" title="Logo">
            </a>
        </div>

        <div class="menu-outer">
            <!-- Aqui o Menu será carregado via Javascript / Mesmo Menu do Header -->
            
        </div>
        <div class="btns-box">
            <a class="btn-one" href="{% url 'nova_casa' %}" style="margin-right: 16px; margin-top: 10px; margin-bottom: 10px; width: 140px; height: 50px; align-items: center; justify-content: center; display: flex;">
                <span style="background-color: #f5eada;" class="txt">Publicar</span>
            </a>
        </div>

        {% if usuario_logado and usuario_logado.id %}
        <div class="dropdown user-dropdown" style="position: relative; z-index: 1000;">
            <button class="btn btn-outline-dark dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                {% if usuario_logado.imagem %}
                    <img src="{{ usuario_logado.imagem.url }}" alt="Foto de perfil" class="rounded-circle me-2" width="40" height="40">
                {% else %}
                    <span class="flaticon-user-2 me-2"></span>
                {% endif %}
                <span class="user-name text-nowrap">
                    {% with usuario_logado.nome.split as nome_dividido %}
                        {{ nome_dividido.0|first }}{% if nome_dividido|length > 1 %}{{ nome_dividido.1|first }}{% endif %}
                    {% endwith %}
                </span>
            </button>
            <ul class="dropdown-menu shadow-lg border-0" aria-labelledby="dropdownMenuButton" style="background-color: #ffffff; border-radius: 10px;">
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'perfil_usuario' %}">
                        <i class="fas fa-user-circle me-2"></i> Meu Perfil
                    </a>
                </li>
            {% if usuario_logado.tipo_usuario == 'cliente' %}
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'nova_casa' %}">
                        <i class="fas fa-home me-2"></i> Publicar Imóveis
                    </a>
                </li>
                <li> 
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'imoveis_publicados' %}">
                        <i class="fas fa-building me-2"></i> Imóveis Publicados
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="fas fa-bell me-2"></i> Notificações
                    </a>
                </li>
            {% elif usuario_logado.tipo_usuario == 'corretor' %}
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="fas fa-clock me-2"></i> Imóveis Pendentes
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'nova_casa' %}">
                        <i class="fas fa-home me-2"></i> Publicar Imóveis
                    </a>
                </li>
                <li> 
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'imoveis_publicados' %}">
                        <i class="fas fa-building me-2"></i> Imóveis Publicados
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="fas fa-file-alt me-2"></i> Contratos
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="fas fa-bell me-2"></i> Notificações
                    </a>
                </li>
            {% elif usuario_logado.tipo_usuario == 'empresa' %}
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'imoveis_publicados' %}">
                        <i class="fas fa-building me-2"></i> Imóveis Publicados
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'nova_casa' %}">
                        <i class="fas fa-home me-2"></i> Publicar Imóveis
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="fas fa-chart-line me-2"></i> Relatórios de Vendas
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="fas fa-bell me-2"></i> Notificações
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="fas fa-file-alt me-2"></i> Contratos
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="fas fa-cogs me-2"></i> Configurações de Empresa
                    </a>
                </li>
                {% endif %}
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="fas fa-cog me-2"></i> Configurações
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center text-danger" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt me-2"></i> Sair
                    </a>
                </li>
            </ul>
        </div>
        {% else %}
        <a href="{% url 'sign_up' %}" class="btn btn-outline-primary d-flex align-items-center">
            <i class="fas fa-user-plus me-2"></i> Login | Cadastro
        </a>
        {% endif %}

        <!-- Social Links -->
        <div class="social-links mt-4">
            <ul class="clearfix d-flex justify-content-center">
                <li><a href="projects.html#"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="projects.html#"><span class="fab fa-twitter-square"></span></a></li>
                <li><a href="projects.html#"><span class="fab fa-pinterest-square"></span></a></li>
                <li><a href="projects.html#"><span class="fab fa-google-plus-square"></span></a></li>
                <li><a href="projects.html#"><span class="fab fa-youtube-square"></span></a></li>
            </ul>
        </div>
    </nav>
</div>