{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Carhousy | Blog</title>
    
        <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include 'includes/link_header.html' %}
        
</head>
<body>

<div class="boxed_wrapper ltr">

<!-- Preloader -->
<div class="loader-wrap">
    <div class="preloader"><div class="preloader-close">Cancelar</div></div>
    <div class="layer layer-one"><span class="overlay"></span></div>
    <div class="layer layer-two"><span class="overlay"></span></div>        
    <div class="layer layer-three"><span class="overlay"></span></div>        
</div>

<!-- page-direction -->
<div class="page_direction">
    <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
    <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
</div>
<!-- page-direction end -->

<header class="main-header header-style-one">
    {% include 'includes/header.html' %}
</header>


<!--Start breadcrumb area paroller-->     
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('{% static 'assets/images/pexels-pixabay-280229 (1).jpg' %}');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                       <h2>Blog Standard</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Blog Standard</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->


<!--Start Blog Page-->
<section class="blog-page two">
    <div class="container">
        <div class="row text-right-rtl">

            <div class="col-xl-8 col-lg-12">
                <div class="blog-post-items">
                    <!--Start Single blog Style1-->
                    <div class="single-blog-style1 single-blog-style1--standard  wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="{% static 'assets/images/blog/blog-v2-1.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="text-holder">
                            <div class="date-box">
                                <div class="border-box"></div>
                                <h5>July 20, 2022</h5>
                            </div>
                            <h3 class="blog-title">
                                <a href="blog-single.html">Architecture is not based on concrete and steel</a>
                            </h3>
                            <ul class="meta-info">
                                <li class="name"><a href="blog-2.html#">Ashley Bronks</a></li>
                                <li><a href="blog-2.html#">10 mins Read</a></li>
                            </ul>
                            <div class="text">
                                <p>Lorem ipsum dolor consectur sed do eiusmod tempor incidunt amet labore magna aliqua enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                            </div>
                            <div class="button-box">
                                <a class="btn-one" href="blog-single.html">
                                    <span class="txt">Read More</span>
                                </a>
                            </div>
                        </div> 
                    </div>    
                    <!--End Single blog Style1-->
                    <!--Start Single blog Style1-->
                    <div class="single-blog-style1 single-blog-style1--standard  wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="{% static 'assets/images/blog/blog-v2-2.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="text-holder">
                            <div class="date-box">
                                <div class="border-box"></div>
                                <h5>July 20, 2022</h5>
                            </div>
                            <h3 class="blog-title">
                                <a href="blog-single.html">Harvest Great Ideas From Best Assets.</a>
                            </h3>
                            <ul class="meta-info">
                                <li class="name"><a href="blog-2.html#">Ashley Bronks</a></li>
                                <li><a href="blog-2.html#">10 mins Read</a></li>
                            </ul>
                            <div class="text">
                                <p>Lorem ipsum dolor consectur sed do eiusmod tempor incidunt amet labore magna aliqua enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                            </div>
                            <div class="button-box">
                                <a class="btn-one" href="blog-single.html">
                                    <span class="txt">Read More</span>
                                </a>
                            </div>
                        </div> 
                    </div>    
                    <!--End Single blog Style1-->
                    <!--Start Single blog Style1-->
                    <div class="single-blog-style1 single-blog-style1--standard  wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="{% static 'assets/images/blog/blog-v2-3.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="text-holder">
                            <div class="date-box">
                                <div class="border-box"></div>
                                <h5>July 20, 2022</h5>
                            </div>
                            <h3 class="blog-title">
                                <a href="blog-single.html">How To Optimize Your Blog For High Ranking.</a>
                            </h3>
                            <ul class="meta-info">
                                <li class="name"><a href="blog-2.html#">Ashley Bronks</a></li>
                                <li><a href="blog-2.html#">10 mins Read</a></li>
                            </ul>
                            <div class="text">
                                <p>Lorem ipsum dolor consectur sed do eiusmod tempor incidunt amet labore magna aliqua enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                            </div>
                            <div class="button-box">
                                <a class="btn-one" href="blog-single.html">
                                    <span class="txt">Read More</span>
                                </a>
                            </div>
                        </div> 
                    </div>    
                    <!--End Single blog Style1-->
                    <!--Start Single blog Style1-->
                    <div class="single-blog-style1 single-blog-style1--standard  wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="{% static 'assets/images/blog/blog-v2-4.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="text-holder">
                            <div class="date-box">
                                <div class="border-box"></div>
                                <h5>July 20, 2022</h5>
                            </div>
                            <h3 class="blog-title">
                                <a href="blog-single.html">Architecture is not based on concrete and steel</a>
                            </h3>
                            <ul class="meta-info">
                                <li class="name"><a href="blog-2.html#">Ashley Bronks</a></li>
                                <li><a href="blog-2.html#">10 mins Read</a></li>
                            </ul>
                            <div class="text">
                                <p>Lorem ipsum dolor consectur sed do eiusmod tempor incidunt amet labore magna aliqua enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                            </div>
                            <div class="button-box">
                                <a class="btn-one" href="blog-single.html">
                                    <span class="txt">Read More</span>
                                </a>
                            </div>
                        </div> 
                    </div>    
                    <!--End Single blog Style1-->
                    <!--Start Single blog Style1-->
                    <div class="single-blog-style1 single-blog-style1--standard  wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                <img src="{% static 'assets/images/blog/blog-v2-5.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="text-holder">
                            <div class="date-box">
                                <div class="border-box"></div>
                                <h5>July 20, 2022</h5>
                            </div>
                            <h3 class="blog-title">
                                <a href="blog-single.html">How To Optimize Your Blog For High Ranking.</a>
                            </h3>
                            <ul class="meta-info">
                                <li class="name"><a href="blog-2.html#">Ashley Bronks</a></li>
                                <li><a href="blog-2.html#">10 mins Read</a></li>
                            </ul>
                            <div class="text">
                                <p>Lorem ipsum dolor consectur sed do eiusmod tempor incidunt amet labore magna aliqua enim minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                            </div>
                            <div class="button-box">
                                <a class="btn-one" href="blog-single.html">
                                    <span class="txt">Read More</span>
                                </a>
                            </div>
                        </div> 
                    </div>    
                    <!--End Single blog Style1-->

                    <div class="row">
                        <div class="col-xl-12">
                            <ul class="styled-pagination pdtop0 clearfix">
                                <li class="arrow prev"><a href="blog-2.html#"><span class="icon-right-arrow-1 left"></span></a></li>
                                <li class="active"><a href="blog-2.html#">1</a></li>
                                <li><a href="blog-2.html#">2</a></li>
                                <li class="arrow next"><a href="blog-2.html#"><span class="icon-right-arrow-1 right"></span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-xl-4 col-lg-5">
                <div class="sidebar-content-box">
                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box">
                        <div class="title">
                            <h3>Search</h3>
                        </div>
                        <div class="single-sidebar_search_box">
                            <div class="sidebar-search-box">
                                <form class="search-form" action="blog-2.html#">
                                    <input placeholder="Keyword..." type="text">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--End Single Sidebar Box-->
                    
                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box style2">
                        <div class="title">
                            <h3>Category</h3>
                        </div>
                        <div class="sidebar-categories">
                            <ul class="sidebar-categories-box">
                                <li><a href="blog-2.html#">Apartments</a></li>
                                <li><a href="blog-2.html#">Duplex House</a></li>
                                <li><a href="blog-2.html#">Luxary Vilas</a></li>
                                <li><a href="blog-2.html#">Residential</a></li>
                                <li><a href="blog-2.html#">Commercial</a></li>
                                <li><a href="blog-2.html#">Uncategories</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End Single Sidebar Box-->

                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box">
                        <div class="title">
                            <h3>Recent Posts</h3>
                        </div>
                        <div class="sidebar-blog-post">
                            <ul class="blog-post">
                                <li>
                                    <div class="inner">   
                                        <div class="img-box">
                                            <img src="{% static 'assets/images/sidebar/sidebar-blog-post1.jpg' %}" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="blog-2.html#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>    
                                        </div>
                                        <div class="title-box">
                                            <h4><a href="blog-2.html#">Clients Are Happy<br> With Service.</a></h4>
                                            <div class="date">Mar 15, 2022</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">   
                                        <div class="img-box">
                                            <img src="{% static 'assets/images/sidebar/sidebar-blog-post2.jpg' %}" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="blog-2.html#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>    
                                        </div>
                                        <div class="title-box">
                                            <h4><a href="blog-2.html#">Project Luxury Villa in<br> Rego Park</a></h4>
                                            <div class="date">Mar 15, 2022</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">   
                                        <div class="img-box">
                                            <img src="{% static 'assets/images/sidebar/sidebar-blog-post3.jpg' %}" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="blog-2.html#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>    
                                        </div>
                                        <div class="title-box">
                                            <h4><a href="blog-2.html#">Your Ideas are Very<br> Important to Us</a></h4>
                                            <div class="date">Mar 15, 2022</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End Single Sidebar Box-->

                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box style2">
                        <div class="title">
                            <h3>Archive</h3>
                        </div>
                        <ul class="archive-lists">
                            <li><a href="blog-2.html#">November 2016 <span>(5)</span></a></li>
                            <li><a href="blog-2.html#">December 2017 <span>(7)</span></a></li>
                            <li><a href="blog-2.html#">January 2018 <span>(3)</span></a></li>
                            <li><a href="blog-2.html#">February 2019 <span>(2)</span></a></li>
                            <li><a href="blog-2.html#">March 2020 <span>(9)</span></a></li>
                        </ul>
                    </div>
                    <!--End Single Sidebar Box-->

                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box last-box">
                        <div class="title">
                            <h3>Tags</h3>
                        </div>
                        <ul class="popular-tag">
                            <li><a href="blog-2.html#">Apartment</a></li>
                            <li><a href="blog-2.html#">Luxary</a></li>
                            <li><a href="blog-2.html#">Vila</a></li>
                            <li><a href="blog-2.html#">Duplex</a></li>
                            <li><a href="blog-2.html#">Organic</a></li>
                        </ul>
                    </div>
                    <!--End Single Sidebar Box-->

                </div>
            </div>
            
        </div>
    </div>
</section>
<!--End Blog Page-->
 
{% include 'includes/footer.html' %} 

</body>
</html>