{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kubico| Blog</title>
  <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include 'includes/link_header.html' %}
            
</head>

<body>

<div class="boxed_wrapper ltr">

<!-- Preloader -->
<div class="loader-wrap">
    <div class="preloader"><div class="preloader-close">Cancelar</div></div>
    <div class="layer layer-one"><span class="overlay"></span></div>
    <div class="layer layer-two"><span class="overlay"></span></div>        
    <div class="layer layer-three"><span class="overlay"></span></div>        
</div>

<!-- page-direction -->
<div class="page_direction">
    <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
    <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
</div>
<!-- page-direction end -->

<!-- Main header-->
<header class="main-header header-style-one">
    {% include 'includes/header.html' %}
</header>


<!--Start breadcrumb area paroller-->     
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('{% static 'assets/images/pexels-pixabay-280229 (1).jpg' %}');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                       <h2>Blog Grid</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Blog Grid</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Blog Page-->
<section class="blog-page one">
    <div class="container">
        <div class="row text-right-rtl">
            <div class="col-xl-8">
                <div class="blog-post-items">
                    <div class="row">
                        <!--Start Single blog Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="{% static 'assets/images/blog/blog-v1-1.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <div class="date-box">
                                        <div class="border-box"></div>
                                        <h5>July 20, 2022</h5>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">Architecture is not based on concrete and steel</a>
                                    </h3>
                                    <ul class="meta-info">
                                        <li class="name"><a href="blog.html#">Ashley Bronks</a></li>
                                        <li><a href="blog.html#">10 mins Read</a></li>
                                    </ul>
                                </div> 
                            </div>    
                        </div>
                        <!--End Single blog Style1-->
                        <!--Start Single blog Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="{% static 'assets/images/blog/blog-v1-2.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <div class="date-box">
                                        <div class="border-box"></div>
                                        <h5>Aug 15, 2022</h5>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">Harvest Great Ideas From Best Assets.</a>
                                    </h3>
                                    <ul class="meta-info">
                                        <li class="name"><a href="blog.html#">Ashley Bronks</a></li>
                                        <li><a href="blog.html#">10 mins Read</a></li>
                                    </ul>
                                </div> 
                            </div>       
                        </div>
                        <!--End Single blog Style1-->
                        <!--Start Single blog Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="{% static 'assets/images/blog/blog-v1-3.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <div class="date-box">
                                        <div class="border-box"></div>
                                        <h5>Sep 27, 2022</h5>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">How To Optimize Your Blog For High Ranking.</a>
                                    </h3>
                                    <ul class="meta-info">
                                        <li class="name"><a href="blog.html#">Ashley Bronks</a></li>
                                        <li><a href="blog.html#">10 mins Read</a></li>
                                    </ul>
                                </div> 
                            </div>       
                        </div>
                        <!--End Single blog Style1-->

                        <!--Start Single blog Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="{% static 'assets/images/blog/blog-v1-4.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <div class="date-box">
                                        <div class="border-box"></div>
                                        <h5>July 20, 2022</h5>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">Architecture is not based on concrete and steel</a>
                                    </h3>
                                    <ul class="meta-info">
                                        <li class="name"><a href="blog.html#">Ashley Bronks</a></li>
                                        <li><a href="blog.html#">10 mins Read</a></li>
                                    </ul>
                                </div> 
                            </div>    
                        </div>
                        <!--End Single blog Style1-->
                        <!--Start Single blog Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="{% static 'assets/images/blog/blog-v1-5.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <div class="date-box">
                                        <div class="border-box"></div>
                                        <h5>Aug 15, 2022</h5>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">Harvest Great Ideas From Best Assets.</a>
                                    </h3>
                                    <ul class="meta-info">
                                        <li class="name"><a href="blog.html#">Ashley Bronks</a></li>
                                        <li><a href="blog.html#">10 mins Read</a></li>
                                    </ul>
                                </div> 
                            </div>       
                        </div>
                        <!--End Single blog Style1-->
                        <!--Start Single blog Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="{% static 'assets/images/blog/blog-v1-6.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <div class="date-box">
                                        <div class="border-box"></div>
                                        <h5>Sep 27, 2022</h5>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">How To Optimize Your Blog For High Ranking.</a>
                                    </h3>
                                    <ul class="meta-info">
                                        <li class="name"><a href="blog.html#">Ashley Bronks</a></li>
                                        <li><a href="blog.html#">10 mins Read</a></li>
                                    </ul>
                                </div> 
                            </div>       
                        </div>
                        <!--End Single blog Style1-->

                        <!--Start Single blog Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="{% static 'assets/images/blog/blog-v1-7.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <div class="date-box">
                                        <div class="border-box"></div>
                                        <h5>July 20, 2022</h5>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">Architecture is not based on concrete and steel</a>
                                    </h3>
                                    <ul class="meta-info">
                                        <li class="name"><a href="blog.html#">Ashley Bronks</a></li>
                                        <li><a href="blog.html#">10 mins Read</a></li>
                                    </ul>
                                </div> 
                            </div>    
                        </div>
                        <!--End Single blog Style1-->
                        <!--Start Single blog Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="{% static 'assets/images/blog/blog-v1-8.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <div class="date-box">
                                        <div class="border-box"></div>
                                        <h5>Aug 15, 2022</h5>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">Harvest Great Ideas From Best Assets.</a>
                                    </h3>
                                    <ul class="meta-info">
                                        <li class="name"><a href="blog.html#">Ashley Bronks</a></li>
                                        <li><a href="blog.html#">10 mins Read</a></li>
                                    </ul>
                                </div> 
                            </div>       
                        </div>
                        <!--End Single blog Style1-->
                        <!--Start Single blog Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="{% static 'assets/images/blog/blog-v1-9.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <div class="date-box">
                                        <div class="border-box"></div>
                                        <h5>Sep 27, 2022</h5>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">How To Optimize Your Blog For High Ranking.</a>
                                    </h3>
                                    <ul class="meta-info">
                                        <li class="name"><a href="blog.html#">Ashley Bronks</a></li>
                                        <li><a href="blog.html#">10 mins Read</a></li>
                                    </ul>
                                </div> 
                            </div>       
                        </div>
                        <!--End Single blog Style1-->

                        <!--Start Single blog Style1-->
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="single-blog-style1 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="inner">
                                        <img src="{% static 'assets/images/blog/blog-v1-10.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <div class="date-box">
                                        <div class="border-box"></div>
                                        <h5>Aug 15, 2022</h5>
                                    </div>
                                    <h3 class="blog-title">
                                        <a href="blog-single.html">Harvest Great Ideas From Best Assets.</a>
                                    </h3>
                                    <ul class="meta-info">
                                        <li class="name"><a href="blog.html#">Ashley Bronks</a></li>
                                        <li><a href="blog.html#">10 mins Read</a></li>
                                    </ul>
                                </div> 
                            </div>       
                        </div>
                        <!--End Single blog Style1-->
                    </div>

                    <div class="row">
                        <div class="col-xl-12 text-center">
                            <ul class="styled-pagination clearfix">
                                <li class="arrow prev"><a href="blog.html#"><span class="icon-right-arrow-1 left"></span></a></li>
                                <li class="active"><a href="blog.html#">1</a></li>
                                <li><a href="blog.html#">2</a></li>
                                <li class="arrow next"><a href="blog.html#"><span class="icon-right-arrow-1 right"></span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-xl-4 col-lg-5">
                <div class="sidebar-content-box">
                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box">
                        <div class="title">
                            <h3>Search</h3>
                        </div>
                        <div class="single-sidebar_search_box">
                            <div class="sidebar-search-box">
                                <form class="search-form" action="blog.html#">
                                    <input placeholder="Keyword..." type="text">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--End Single Sidebar Box-->
                    
                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box style2">
                        <div class="title">
                            <h3>Category</h3>
                        </div>
                        <div class="sidebar-categories">
                            <ul class="sidebar-categories-box">
                                <li><a href="blog.html#">Apartments</a></li>
                                <li><a href="blog.html#">Duplex House</a></li>
                                <li><a href="blog.html#">Luxary Vilas</a></li>
                                <li><a href="blog.html#">Residential</a></li>
                                <li><a href="blog.html#">Commercial</a></li>
                                <li><a href="blog.html#">Uncategories</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End Single Sidebar Box-->

                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box">
                        <div class="title">
                            <h3>Recent Posts</h3>
                        </div>
                        <div class="sidebar-blog-post">
                            <ul class="blog-post">
                                <li>
                                    <div class="inner">   
                                        <div class="img-box">
                                            <img src="{% static 'assets/images/sidebar/sidebar-blog-post1.jpg' %}" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="blog.html#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>    
                                        </div>
                                        <div class="title-box">
                                            <h4><a href="blog.html#">Clients Are Happy<br> With Service.</a></h4>
                                            <div class="date">Mar 15, 2022</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">   
                                        <div class="img-box">
                                            <img src="{% static 'assets/images/sidebar/sidebar-blog-post2.jpg' %}" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="blog.html#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>    
                                        </div>
                                        <div class="title-box">
                                            <h4><a href="blog.html#">Project Luxury Villa in<br> Rego Park</a></h4>
                                            <div class="date">Mar 15, 2022</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">   
                                        <div class="img-box">
                                            <img src="{% static 'assets/images/sidebar/sidebar-blog-post3.jpg' %}" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="blog.html#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>    
                                        </div>
                                        <div class="title-box">
                                            <h4><a href="blog.html#">Your Ideas are Very<br> Important to Us</a></h4>
                                            <div class="date">Mar 15, 2022</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End Single Sidebar Box-->

                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box style2">
                        <div class="title">
                            <h3>Archive</h3>
                        </div>
                        <ul class="archive-lists">
                            <li><a href="blog.html#">November 2016 <span>(5)</span></a></li>
                            <li><a href="blog.html#">December 2017 <span>(7)</span></a></li>
                            <li><a href="blog.html#">January 2018 <span>(3)</span></a></li>
                            <li><a href="blog.html#">February 2019 <span>(2)</span></a></li>
                            <li><a href="blog.html#">March 2020 <span>(9)</span></a></li>
                        </ul>
                    </div>
                    <!--End Single Sidebar Box-->

                    <!--Start Single Sidebar Box-->
                    <div class="single-sidebar-box last-box">
                        <div class="title">
                            <h3>Tags</h3>
                        </div>
                        <ul class="popular-tag">
                            <li><a href="blog.html#">Apartment</a></li>
                            <li><a href="blog.html#">Luxary</a></li>
                            <li><a href="blog.html#">Vila</a></li>
                            <li><a href="blog.html#">Duplex</a></li>
                            <li><a href="blog.html#">Organic</a></li>
                        </ul>
                    </div>
                    <!--End Single Sidebar Box-->

                </div>
            </div>
            
        </div>
    </div>
</section>
<!--End Blog Page-->


{% include 'includes/footer.html' %} 

</body>
</html>