{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Carhouse | {{imovel_venda.titulo}}</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Fonts -->
    {% include 'includes/link_header.html' %}

  
    <style>
        .project-details-text1 {
        word-wrap: break-word; /* Quebra palavras longas */
        overflow-wrap: break-word; /* Garante quebra de linha no texto longo */
        overflow: hidden; /* Impede o texto de sair da div */
        }

    </style>
    
</head>

<body>

<div class="boxed_wrapper ltr">

<!-- Preloader -->
<div class="loader-wrap">
    <div class="preloader"><div class="preloader-close">Cancelar</div></div>
    <div class="layer layer-one"><span class="overlay"></span></div>
    <div class="layer layer-two"><span class="overlay"></span></div>        
    <div class="layer layer-three"><span class="overlay"></span></div>        
</div>

<!-- page-direction -->
<div class="page_direction">
    <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
    <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
</div>

<!-- Main header-->
<header class="main-header header-style-one">
    {% include 'includes/header.html' %}
</header>


<!--Start breadcrumb area paroller-->     
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('{% static 'assets/images/pexels-pixabay-280229 (1).jpg' %}');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                       <h2>{{ imovel_venda.titulo }}</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Detalhe imovel</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->


<!--Start Project Details Area-->
<section class="project-details-area">
    <div class="shape1 wow slideInRight" data-wow-delay="400ms" data-wow-duration="6500ms">
        <img src="{% static 'assets/images/shape/shape-round-5.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row text-right-rtl">
            <div class="col-xl-8 col-lg-7">
                <div class="project-details-content">
                    <div class="top-title">
                        <h2>{{ imovel_venda.titulo }}</h2>
                        <span>Imovel</span>
                    </div>
                    <div class="project-details-text1 container-fluid">
                        <p>{{ imovel_venda.descricao|linebreaksbr }}</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                    
        

                    <div class="project-details-main-image">
                        <img src="{{ imovel_venda.imagem.url }}" alt="">
                    </div>
                    


                    <div class="project-features-box">
                        <div class="title">
                            <h2>Mais detalhes</h2>
                        </div>
                        <div class="row">
                            <!-- Exibindo os campos do imóvel em diferentes colunas -->
                            <div class="col-xl-4">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-air-conditioner"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Tipo de Imóvel: {{ imovel_venda.tipo|title }}</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-swimming-pool"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Preço: kz {{ imovel_venda.preco }}</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-security-camera"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Quartos: {{ imovel_venda.quartos }}</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                    
                            <div class="col-xl-4">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-fire-extinguisher"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Banheiros: {{ imovel_venda.banheiros }}</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-muscle"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Vagas na garagem: {{ imovel_venda.vagas_garagem }}</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-policeman"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Status: {{ imovel_venda.status|title }}</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                    
                            <div class="col-xl-4">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-field"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Área: {{ imovel_venda.area }} m²</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-city-hall"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Endereço: {{ imovel_venda.endereco }}</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    

       
                    <div class="project-details-plans-box tabs-box">
                        <div class="title">
                            <h2>Planos</h2>
                        </div>
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#master-plan" class="tab-btn active-btn"><span>Plano Mestre</span></li>
                            <li data-tab="#basic-plan" class="tab-btn"><span>Plano Básico</span></li>
                        </ul>
                        <div class="tabs-content">
                            <div class="tab active-tab" id="master-plan">
                                <div class="plan-box-content">
                                    <img src="{% static 'assets/images/resources/plan-1.png' %}" alt="">    
                                </div> 
                            </div>
                            <div class="tab" id="basic-plan">
                                <div class="plan-box-content">
                                    <img src="{% static 'assets/images/resources/plan-2.png' %}" alt="">    
                                </div>  
                            </div>
                        </div>      
                    </div>
                    

                    <div class="gallerly-box-content">
                        <div class="title">
                            <h2>Galeria</h2>
                        </div>
                        <div class="row">
                            <!--Início Caixa Única da Galeria-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="{% static 'assets/images/portfolio/gallery-1.jpg' %}" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="{% static 'assets/images/portfolio/gallery-1.jpg' %}">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Fim Caixa Única da Galeria-->
                            
                            <!--Início Caixa Única da Galeria-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="{% static 'assets/images/portfolio/gallery-2.jpg' %}" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="{% static 'assets/images/portfolio/gallery-2.jpg' %}">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Fim Caixa Única da Galeria-->
                    
                            <!--Início Caixa Única da Galeria-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="{% static 'assets/images/portfolio/gallery-3.jpg' %}" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="{% static 'assets/images/portfolio/gallery-3.jpg' %}">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Fim Caixa Única da Galeria-->
                    
                            <!--Início Caixa Única da Galeria-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="{% static 'assets/images/portfolio/gallery-4.jpg' %}" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="{% static 'assets/images/portfolio/gallery-4.jpg' %}">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Fim Caixa Única da Galeria-->
                    
                            <!--Início Caixa Única da Galeria-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="{% static 'assets/images/portfolio/gallery-5.jpg' %}" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="{% static 'assets/images/portfolio/gallery-5.jpg' %}">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Fim Caixa Única da Galeria-->
                    
                            <!--Início Caixa Única da Galeria-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="{% static 'assets/images/portfolio/gallery-6.jpg' %}" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="{% static 'assets/images/portfolio/gallery-6.jpg' %}">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--Fim Caixa Única da Galeria-->
                    
                        </div>
                    </div>
                    

                    <div class="project-details-location-box">
                        <div class="title">
                            <h2>Localizações</h2>
                            <p>{{imovel_venda.tipo}} - {{imovel_venda.endereco}}</p>
                        </div>
                        <div class="project-details-page-map-outer">
                            <!--Canvas do Mapa-->
                            <div class="map-canvas"
                                data-zoom="12"
                                data-lat="-37.817085"
                                data-lng="144.955631"
                                data-type="roadmap"
                                data-hue="#ffc400"
                                data-title="Envato"
                                data-icon-path="assets/images/icon/map-marker.png"
                                data-content="Melbourne VIC 3000, Austrália<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>

            <div class="col-xl-4 col-lg-5">
                <div class="project-details-sidebar">
                    <div class="project-info-box">
                        <div class="title">
                            <h3>Informações</h3>
                        </div>
                        <ul>
                            <li><span>Tipo:</span>{{imovel_venda.tipo}}</li>
                            <li><span>Status:</span> {{imovel_venda.status}}</li>
                            <li><span>Área:</span> {{imovel_venda.area}} m²</li>
                            <li><span>Endereço:</span>{{imovel_venda.endereco}}</li>
                            <li><span>Preço:</span>{{imovel_venda.preco}} / mês</li>
                            <li><span>Corretor:</span>{{imovel_venda.corretor}}</li>
                        </ul>
                    </div>
                
                    {% if usuario_logado %}
                    <div class="project-details-form">
                        <div class="title">
                            <h3>Agendar visita</h3>
                        </div>
                        <form id="project-details-form" name="project-details_form" class="default-form2" action="{% url 'agendamento' id=imovel_venda.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box"> 
                                        <input type="text" name="nome" value="{{ usuario_logado.nome }}" placeholder="Nome" required readonly>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="input-box"> 
                                        <input type="text" name="sobrenome" value="{{ usuario_logado.sobrenome }}" placeholder="Sobrenome" required readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box"> 
                                        <input type="email" name="email" value="{{ usuario_logado.email }}" placeholder="Email" required readonly>
                                    </div>  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box">
                                        <input type="text" name="telefone" value="{{ usuario_logado.telefone }}" placeholder="Telefone" readonly>
                                    </div>  
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box"> 
                                        <label for="data_visita">Escolha o dia</label>
                                        <input type="date" name="data_visita" id="data_visita" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box">
                                        <select name="hora_visita" id="hora_visita" required>
                                            <option value="">Selecione um horário</option>
                                            {% for hora in horarios %}
                                            <option value="{{ hora.id }}">{{ hora.hora }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box">
                                        <textarea style="margin-top: 12px;" name="mensagem" placeholder="Digite sua mensagem..." required=""></textarea>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="button-box">
                                        <button style="margin-top: 12px;" class="btn-one" type="submit">
                                            <span class="txt">Agendar</span>
                                        </button> 
                                    </div> 
                                </div>
                            </div>
                        </form>
                        
                    </div> 
                {% else %}
                
                 <div class="project-details-form">
                        <div class="title">
                            <h3>Agendar visita</h3>
                        </div>
                        <form id="project-details-form" name="project-details_form" class="default-form2" action="{% url 'agendamento' id=imovel_venda.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box"> 
                                        <input type="text" name="nome" placeholder="Nome" required>
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="input-box"> 
                                        <input type="text" name="sobrenome" placeholder="Sobrenome" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box"> 
                                        <input type="email" name="email" placeholder="Email" required>
                                    </div>  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box">
                                        <input type="text" name="telefone" placeholder="Telefone">
                                    </div>  
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box"> 
                                        <label for="data_visita">Escolha o dia</label>
                                        <input type="date" name="data_visita" id="data_visita" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box">
                                        <select name="hora_visita" id="hora_visita" required>
                                            
                                            {% for hora in horarios %}
                                            <option value="{{ hora.id }}">{{ hora.hora|time:"H:i" }}</option>

                                            {% endfor %}
                                        </select>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box">
                                        <textarea style="margin-top: 12px;" name="mensagem" placeholder="Digite sua mensagem..." required=""></textarea>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="button-box">
                                        <button style="margin-top: 12px;" class="btn-one" type="submit">
                                            <span class="txt">Enviar Agora</span>
                                        </button> 
                                    </div> 
                                </div>
                            </div>
                        </form>
                    </div> 
                {% endif %}

                </div>
                
                </div>
            </div>
            

        </div>
    </div>
</section>
<!--End Project Details Area-->



{% include 'includes/footer.html' %} 

<!-- thm custom script -->



</body>
</html>