{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Carhousy | pagina de erro</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Fonts -->

    {% include 'includes/link_header.html' %}
    
</head>

<body>

<div class="boxed_wrapper ltr">

<!-- Preloader -->
<div class="loader-wrap">
    <div class="preloader"><div class="preloader-close">Cancelar</div></div>
    <div class="layer layer-one"><span class="overlay"></span></div>
    <div class="layer layer-two"><span class="overlay"></span></div>        
    <div class="layer layer-three"><span class="overlay"></span></div>        
</div>

<!-- page-direction -->
<div class="page_direction">
    <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
    <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
</div>
<!-- page-direction end -->


<

<!--Start Error Page Area-->
<section class="error-page-area full-height">
    <div class="error-page-area-bg" style="background-image: url('{% static 'assets/images/parallax-background/error-page-area-bg.jpg' %}');"></div>

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="error-content text-center">
                    <div class="title wow slideInDown" data-wow-delay="200ms" data-wow-duration="1500ms">Página não encontrada</div>
                    <div class="big-title wow slideInRight" data-wow-delay="100ms" data-wow-duration="1500ms">404</div>
                    <p class="wow slideInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">Desculpe, não conseguimos encontrar a página que você está procurando. Por favor,<br> verifique a URL e tente novamente.</p>
                    <div class="btns-box wow slideInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                        <a class="btn-one" href="{% url 'home' %}">
                            <span class="txt">Voltar para a Página Inicial de usuario</span>
                        </a>
                    </div>
                </div>    
            </div>
        </div>       
    </div>
    
</section>   
<!--End Error Page Area-->   


<button class="scroll-top scroll-to-target" data-target="html">
    <span class="icon-right-arrow-1"></span>
</button> 



<!-- search-popup -->
<!-- search-popup -->
<div id="search-popup" class="search-popup">
    <div class="close-search"><i class="icon-close"></i></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form method="post" action="index.html">
                <div class="form-group">
                    <fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Pesquise Aqui" required>
                        <input type="submit" value="Pesquisar!" class="theme-btn style-four">
                    </fieldset>
                </div>
            </form>
            <h3>Palavras-chave de Pesquisa Recentes</h3>
            <ul class="recent-searches">
                <li><a href="index.html">Apartamentos para Venda</a></li>
                <li><a href="index.html">Casas para Aluguel</a></li>
                <li><a href="index.html">Imóveis Comerciais</a></li>
                <li><a href="index.html">Lançamentos Imobiliários</a></li>
                <li><a href="index.html">Imóveis de Luxo</a></li>
                <li><a href="index.html">Imóveis em Luanda</a></li>
                <li><a href="index.html">Apartamento no Centro</a></li>
                <li><a href="index.html">Condomínios Fechados</a></li>
                <li><a href="index.html">Imóveis com Piscina</a></li>
                <li><a href="index.html">Terrenos para Construção</a></li>
                <li><a href="index.html">Imóveis para Investimento</a></li>
                <li><a href="index.html">Financiamento Imobiliário</a></li>
                <li><a href="index.html">Aluguel Temporário</a></li>
                <li><a href="index.html">Imóveis de Alto Padrão</a></li>
                <li><a href="index.html">Imóveis em Praia</a></li>
            </ul>
        </div>
    </div>
</div>
</div> 

</div> 






<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/aos.js' %}"></script>
<script src="{% static 'assets/js/appear.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.js' %}"></script>
<script src="{% static 'assets/js/jquery.countTo.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.enllax.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/knob.js' %}"></script>
<script src="{% static 'assets/js/map-script.js' %}"></script>
<script src="{% static 'assets/js/owl.js' %}"></script>
<script src="{% static 'assets/js/pagenav.js' %}"></script>
<script src="{% static 'assets/js/parallax.min.js' %}"></script>
<script src="{% static 'assets/js/scrollbar.js' %}"></script>
<script src="{% static 'assets/js/TweenMax.min.js' %}"></script>
<script src="{% static 'assets/js/validation.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>
<script src="{% static 'assets/js/color-switcher.min.js' %}"></script>

<script src="{% static 'assets/js/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/tilt.jquery.js' %}"></script>



<!-- thm custom script -->
<script src="{% static 'assets/js/custom.js' %}"></script>



</body>
</html> 