{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Carhousy | FAQ</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Google Fonts -->
     {% include 'includes/link_header.html' %}
    
    
</head>
 
<body>

<div class="boxed_wrapper ltr">

<!-- Preloader -->
<div class="loader-wrap">
    <div class="preloader"><div class="preloader-close">Cancelar</div></div>
    <div class="layer layer-one"><span class="overlay"></span></div>
    <div class="layer layer-two"><span class="overlay"></span></div>        
    <div class="layer layer-three"><span class="overlay"></span></div>        
</div>

<!-- page-direction -->
<div class="page_direction">
    <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
    <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
</div>
<!-- page-direction end -->

<!-- Main header-->
<header class="main-header header-style-one">
    {% include 'includes/header.html' %}
</header>


<!--Start breadcrumb area paroller-->     
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('{% static 'assets/images/pexels-pixabay-280229 (1).jpg' %}');"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                       <h2>Perguntas e Respostas Frequentes</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">FAQ'S</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Faq Style1 Area-->
<!--Área de Perguntas Frequentes-->
<section class="faq-style1-area">
    <div class="shape1 wow slideInRight" data-wow-delay="500ms" data-wow-duration="6500ms">
        <img class="zoom-fade" src="{% static 'assets/images/shape/faq-shape.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <!-- Conteúdo das Perguntas -->
            <div class="col-xl-7 col-lg-6">
                <div class="faq-style1__content">
                    <div class="sec-title">
                        <div class="sub-title">
                            <p>Perguntas</p>
                        </div>
                        <h2>Perguntas<br> Frequentes</h2>
                    </div>
                    <div class="inner-content">
                        <ul class="accordion-box">
                            <li class="accordion block wow slideInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="flaticon-down-arrow-2"></i></div>
                                    <h3>Este é o melhor imóvel pelo melhor preço?</h3>
                                </div>
                                <div class="acc-content">
                                    <p>Trabalhamos para oferecer os melhores imóveis com preços justos, alinhados com o mercado e suas necessidades.</p>
                                </div>
                            </li>
                            <li class="accordion block active-block wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="acc-btn active">
                                    <div class="icon-outer"><i class="flaticon-down-arrow-2"></i></div>
                                    <h3>Como posso gerenciar meu imóvel na Kubico?</h3>
                                </div>
                                <div class="acc-content current">
                                    <p>Através da nossa plataforma, você pode atualizar informações, adicionar fotos, acompanhar visitas e conversar com potenciais compradores ou inquilinos.</p>
                                </div>
                            </li>
                            <li class="accordion block wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="flaticon-down-arrow-2"></i></div>
                                    <h3>Como posso comprar um imóvel com facilidade?</h3>
                                </div>
                                <div class="acc-content">
                                    <p>Na Kubico, oferecemos filtros inteligentes, atendimento personalizado e suporte durante todas as etapas da compra do seu imóvel.</p>
                                </div>
                            </li>
                            <li class="accordion block wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="flaticon-down-arrow-2"></i></div>
                                    <h3>Como posso me tornar membro da Kubico?</h3>
                                </div>
                                <div class="acc-content">
                                    <p>Basta se cadastrar gratuitamente na nossa plataforma para começar a divulgar ou procurar imóveis com total segurança e praticidade.</p>
                                </div>
                            </li>
                            <li class="accordion block wow slideInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="flaticon-down-arrow-2"></i></div>
                                    <h3>Posso gerenciar minha conta online?</h3>
                                </div>
                                <div class="acc-content">
                                    <p>Sim, todas as funcionalidades estão disponíveis online para você acessar quando e onde quiser: imóveis, mensagens, agendamentos e mais.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Imagem ilustrativa -->
            <div class="col-xl-5 col-lg-6">
                <div class="faq-style1__image clearfix">
                    <div class="inner wow slideInRight" data-wow-delay="100ms" data-wow-duration="3500ms">
                        <img class="paroller" src="{% static 'assets/images/resources/faq-style1__image.png' %}" alt="Perguntas Frequentes - Kubico">
                    </div>
                </div>
            </div>
        </div>
    </div>   
</section>
 
<!--End Faq Style1 Area-->

    <!--Start Footer-->
    {% include 'includes/footer.html' %} 

</body>
</html>