{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Carhousy | Sobre</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include 'includes/link_header.html' %}
    
</head>

<body>

<div class="boxed_wrapper ltr">

<!-- Preloader -->
<div class="loader-wrap">
    <div class="preloader"><div class="preloader-close">cancelar</div></div>
    <div class="layer layer-one"><span class="overlay"></span></div>
    <div class="layer layer-two"><span class="overlay"></span></div>        
    <div class="layer layer-three"><span class="overlay"></span></div>        
</div>

<!-- page-direction -->
<div class="page_direction">
    <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
    <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
</div>
<!-- page-direction end -->


<!-- switcher menu -->

 

<!-- Main header-->
<header class="main-header header-style-one">
    {% include 'includes/header.html' %}
</header>


<!--Start breadcrumb area paroller-->     
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url('{% static 'assets/images/pexels-pixabay-280229 (1).jpg' %}');"></div>

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                       <h2>Sobre Nos</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Sobre nos</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<section id="recognition" class="fact-counter-area">
    <div class="shape1 wow slideInRight" data-wow-delay="400ms" data-wow-duration="6500ms">
        <img src="{% static 'assets/images/shape/shape-round-10.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">

            <div class="col-xl-6 text-right-rtl">
                <div class="about-style1__content">
                    <div class="sec-title">
                        <div class="sub-title">
                            <p>Conquista de Prêmios</p>
                        </div>
                        <h2>Nosso Maior Prêmio<br> é Desenvolver Comunidades<br> Prósperas.</h2>
                    </div>
                    <div class="inner-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ux sed eiusmod tempor incididunt ut labore et dolore magna aliqua.enim admix minim veniam quis nostrud.</p>
                        <div class="bottom-box">
                            <div class="row">
                                <div class="col-xl-6 col-lg-4 col-md-6">
                                    <div class="our-achive-box-single">
                                        <div class="icon"><span class="flaticon-olive-branches-award-symbol"></span></div>
                                        <h3>Prêmios de Excelência<br> Imobiliária</h3>
                                        <p>Análise</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-4 col-md-6">
                                    <div class="our-achive-box-single">
                                        <div class="icon"><span class="flaticon-trophy"></span></div>
                                        <h3>Prêmios Nacionais de<br> Imóveis</h3>
                                        <p>Análise</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="fact-counter_box">
                    <ul class="clearfix">
                        <li class="single-fact-counter wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner">
                                <div class="outer-box">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="3000" data-stop="280">0</span>
                                    </div>
                                    <div class="title">
                                        <h6>Projetos</h6>
                                    </div>
                                </div>
                            </div>  
                        </li>
                        <li class="single-fact-counter wow slideInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="inner">
                                <div class="outer-box">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="3000" data-stop="2">0</span>
                                        <span class="k">k</span>
                                        <span class="plus flaticon-plus"></span>
                                    </div>
                                    <div class="title">
                                        <h6>Clientes</h6>
                                    </div>
                                </div>
                            </div>  
                        </li>
                        <li class="single-fact-counter wow slideInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="inner">
                                <div class="outer-box">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="3000" data-stop="75">0</span>
                                    </div>
                                    <div class="title">
                                        <h6>Especialistas</h6>
                                    </div>
                                </div>
                            </div>  
                        </li>
                        <li class="single-fact-counter wow slideInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner">
                                <div class="outer-box">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="3000" data-stop="20">0</span>
                                    </div>
                                    <div class="title">
                                        <h6>Prêmios</h6>
                                    </div>
                                </div>
                            </div>  
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<!--End About Style2 Area-->



<section class="skill-area">
    <div class="shape1 wow slideInRight" data-wow-delay="400ms" data-wow-duration="6500ms">
        <img src="{% static 'assets/images/shape/shape-round-2.png' %}" alt="">
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <p>Nossas Habilidades</p>
            </div>
            <h2>Ofereça Imóveis de Qualidade<br> & Alcance Grande Sucesso.</h2>
            
        </div>
        <div class="row text-right-rtl">

            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="skill-content-box">
                    <h3>Prêmios Imobiliários</h3>
                    <p>Nosso compromisso com a qualidade e a excelência no mercado imobiliário tem sido reconhecido por várias premiações importantes. Trabalhamos incansavelmente para proporcionar aos nossos clientes as melhores oportunidades de compra, venda e locação de imóveis.</p>
                    <p>Com uma equipe altamente especializada, oferecemos um atendimento personalizado, buscando sempre superar as expectativas e garantir a satisfação de nossos clientes em cada negociação.</p>
                </div>
                
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="progress-levels">
                    <!--Skill Box-->
                    <div class="progress-box wow">
                        <div class="inner count-box">
                            <div class="text">Escritorios</div>
                            <div class="bar">
                                <div class="bar-innner">
                                    <div class="skill-percent">
                                        <span class="count-text" data-speed="3000" data-stop="95">0</span>
                                        <span class="percent">%</span>
                                    </div>
                                    <div class="bar-fill" data-percent="95"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Skill Box-->
                    <div class="progress-box wow">
                        <div class="inner count-box">
                            <div class="text">Aluguéis</div>
                            <div class="bar">
                                <div class="bar-innner">
                                    <div class="skill-percent">
                                        <span class="count-text" data-speed="3000" data-stop="70">0</span>
                                        <span class="percent">%</span>
                                    </div>
                                    <div class="bar-fill" data-percent="70"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Skill Box-->
                    <div class="progress-box wow last-child">
                        <div class="inner count-box">
                            <div class="text">Apartamentos</div>
                            <div class="bar">
                                <div class="bar-innner">
                                    <div class="skill-percent">
                                        <span class="count-text" data-speed="3000" data-stop="90">0</span>
                                        <span class="percent">%</span>
                                    </div>
                                    <div class="bar-fill" data-percent="90"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="choose-style1-area">
    <div class="thm-shape-bg1" style="background-image: url({% static 'assets/images/shape/thm-shape-bg1.jpg' %});"></div>
    <div class="shape1" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="5000">
        <img class="float-bob" src="{% static 'assets/images/shape/key.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row text-right-rtl">
            <div class="col-xl-6 col-lg-6">
                <div class="choose-style1__title">
                    <div class="sec-title">
                        <div class="sub-title">
                            <p>Por que escolher</p>
                        </div>
                        <h2>Por que nossos clientes<br> nos escolhem?</h2>
                    </div>
                    <div class="inner-text">
                        <p>Na nossa corretora, buscamos sempre a satisfação dos nossos clientes, oferecendo soluções inovadoras e personalizadas no mercado imobiliário.</p>
                        <div style="display: none;" class="btns-box">
                            <a class="btn-one style2" href="contact.html">
                                <span class="txt">Solicite um Orçamento</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="choose-style__content">
                    <div class="shape2 wow slideInRight" data-wow-delay="100ms" data-wow-duration="3500ms">
                        <img src="{% static 'assets/images/shape/hand-3.png' %}" alt="">
                    </div>
                    <ul>
                        <li class="wow slideInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="inner">
                                <div class="icon">
                                    <img src="{% static 'assets/images/icon/choose/choose-1.png' %}" alt="">
                                </div>
                                <div class="text">
                                    <h3>Produtos de Qualidade</h3>
                                    <p>Oferecemos imóveis com a melhor qualidade do mercado, todos cuidadosamente selecionados para atender aos seus padrões.</p>
                                </div>
                            </div>
                        </li>
                        <li class="wow slideInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="inner">
                                <div class="icon">
                                    <img src="{% static 'assets/images/icon/choose/choose-2.png' %}" alt="">
                                </div>
                                <div class="text">
                                    <h3>Serviços Profissionais</h3>
                                    <p>Nosso time de profissionais é altamente capacitado para fornecer a melhor orientação e suporte durante toda a sua jornada imobiliária.</p>
                                </div>
                            </div>
                        </li>
                        <li class="wow slideInLeft" data-wow-delay="30ms" data-wow-duration="1500ms">
                            <div class="inner">
                                <div class="icon">
                                    <img src="{% static 'assets/images/icon/choose/choose-3.png' %}" alt="">
                                </div>
                                <div class="text">
                                    <h3>Segurança Absoluta</h3>
                                    <p>Garantimos a segurança em todas as transações imobiliárias, proporcionando uma experiência tranquila e sem preocupações para nossos clientes.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<!--End Choose Style1 Area-->

<!--Start Testimonials Style1 area -->
{% if depoimentos %}
<!--Start Testimonials Style2 area -->
<section style="margin-top: 40px;" id="depoimento" class="testimonials-style2-area pdtop0">
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <p>Depoimentos</p>
            </div>
            <h2>O Que Nossos Clientes Estão Dizendo<br> Sobre a Carhousy </h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonials-style1__content wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="theme_carousel testimonials-carousel_1 owl-dot-style1 owl-theme owl-carousel" data-options='{"loop": true, "margin": 30, "autoheight":true, "lazyload":true, "nav": false, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "1" } , "992":{ "items" : "2" }, "1200":{ "items" : "3" }}}'>

                        <!--Início Depoimento Estilo1-->
                        {% for depoimento in depoimentos %}
                        <div class="single-testimonials-style1">
                            <div class="client-info">
                                <div class="img-box">
                                    <img src="{% if depoimento.imagem %}{{ depoimento.imagem.url }}{% else %}{% static 'assets/images/default/logo.png' %}{% endif %}" alt="{{ imovel.titulo }}">
                                </div>
                                <div class="title-box">
                                    <h3>{{depoimento.nome}}</h3>
                                    <span>Usuario</span>
                                </div>
                            </div>
                            <div class="text">
                                <p>{{depoimento.descricao}}</p>
                                <div class="date-box"><p>{{depoimento.data_cadastro}}</p></div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--Fim Depoimento Estilo1-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% else %}
    <p style="text-align: center; margin-bottom: 60px;">Nenhum depoimento disponivel</p>
{% endif %}
<!--End Testimonials Style1 area -->


<!--Start Team Style1 Area-->
{% if corretores %}
<section id="team" class="team-style1-area">
    <div class="round-shape wow slideInLeft" data-wow-delay="100ms" data-wow-duration="3500ms">
        <img src="{% static 'assets/images/shape/shape-round.png' %}" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-right-rtl">
                <div class="team-style1__top-title">
                    <div class="sec-title">
                        <div class="sub-title">
                            <p>Corretores</p>
                        </div>
                        <h2>Torna-te um corretor</h2>
                    </div>
                    <div class="btns-box">
                        <button class="btn-one">
                            <span class="txt" data-bs-toggle="modal" data-bs-target="#contactModal">Enviar Solicitacao</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Início do Membro da Equipe-->
            {% for corretor in corretores %}
                <div class=" col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="single-team-style1 wow fadeInRight animated " data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="img-holder">
                            <div class="inner">
                                {% if corretor.imagem %}
                                    <img class="rotateScale" src="{{ corretor.imagem.url }}" alt=""/>
                                {% else %}
                                    <img class="rotateScale" src="caminho/para/imagem/placeholder.jpg" alt="Imagem não disponível"/>
                                {% endif %}
                                <div class="overlay-bg"></div>
                            </div>
                            
                        </div>
                        <div class="title-holder">
                            <h3 style="margin-top: 13px;" ><a href="team-single.html">{{corretor.nome}}</a></h3>
                            <p>{{corretor.tipo_usuario}}</p>
                            <div class="social-link-box">
                                <ul class="team-social-link">
                                    <li>
                                        <a href="index-3.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="index-3.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                                    </li>
                                    <li>
                                        <a href="index-3.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
    <p style="text-align: center; margin-bottom: 60px;">Nenhum corretor disponivel</p>
{% endif %}

<!-- Modal de Contato -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Escreva a sua mensagem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% if usuario_logado and usuario_logado.id %}
            <div class="modal-body">
                <form method="POST" action="/enviar-mensagem/">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">O teu Nome*</label>
                        <input readonly type="text" class="form-control" name="nome" required value="{{ usuario_logado.nome }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">O teu Número de Telemóvel*</label>
                        <input readonly type="tel" class="form-control" name="telefone" required value="{{ usuario_logado.telefone }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">O teu Email*</label>
                        <input readonly type="email" class="form-control" name="email" required value="{{ usuario_logado.email }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mensagem*</label>
                        <textarea class="form-control" name="mensagem" rows="4" required>Estou interessado/a em obter mais informações sobre o anúncio "{{ imovel_venda.tipo }} em {{ imovel_venda.endereco }}". Por favor, entre em contacto.</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            {% else %}
            <div class="modal-body">
                <form method="POST" action="/enviar-mensagem/">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">O teu Nome*</label>
                        <input type="text" class="form-control" name="nome" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">O teu Número de Telemóvel*</label>
                        <input type="tel" class="form-control" name="telefone" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">O teu Email*</label>
                        <input type="email" class="form-control" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mensagem*</label>
                        <textarea class="form-control" name="mensagem" rows="4" required>Estou interessado/a em obter mais informações sobre o anúncio "{{ imovel_venda.tipo }} em {{ imovel_venda.endereco }}". Por favor, entre em contacto.</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!--End Team Style1 Area-->

{% include 'includes/footer.html' %} 

</body>
</html>