{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Kubico | area pessoal</title>

    {% include 'includes/link_header2.html' %}
      
  </head>
  <body> 
    <div class="loader-wrapper"> 
      <div class="loader loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
        <div class="loader-inner-1"></div>
      </div>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <div class="page-header row">
        <div class="header-logo-wrapper col-auto">
          <div class="logo-wrapper"><a href="index.html"><img class="img-fluid for-light" src="{% static 'assets2/images/logo/logo.png' %}" alt=""/><img class="img-fluid for-dark" src="{% static 'assets2/images/logo/logo_light.png' %}" alt=""/></a></div>
        </div>
        <div class="col-4 col-xl-4 page-title">
          <h4 class="f-w-700">Area Pessoal</h4>
          <nav>
            <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"> <i data-feather="home"> </i></a></li>
            </ol>
          </nav>
        </div>
        <!-- Page Header Start-->
        <div class="header-wrapper col m-0">
          <div class="row">
            <div class="header-logo-wrapper col-auto p-0">
              <div class="logo-wrapper"><a href="index.html"><img class="img-fluid" src="{% static 'assets2/images/logo/logo.png' %}" alt=""></a></div>
              <div class="toggle-sidebar">
                <svg class="stroke-icon sidebar-toggle status_toggle middle">
                  <use href="{% static 'assets2/svg/icon-sprite.svg#toggle-icon' %}"></use>
                </svg>
              </div>
            </div>
            <div class="nav-right col-xxl-8 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
              <ul class="nav-menus">
                <li>
                  <div class="mode">
                    <svg>
                      <use href="{% static 'assets2/svg/icon-sprite.svg#moon' %}"></use>
                    </svg>
                  </div>
                </li>
                <li class="onhover-dropdown">
                  <div class="notification-box">
                    <svg>
                      <use href="{% static 'assets2/svg/icon-sprite.svg#header-message' %}"></use>
                    </svg><span class="badge rounded-pill badge-info">3 </span>
                  </div>
                  <div class="onhover-show-div notification-dropdown">
                    <h5 class="f-18 f-w-600 mb-0 dropdown-title">Menssagem</h5>
                    <ul class="messages">
                      <li class="d-flex b-light1-primary gap-2"> 
                        <div class="flex-shrink-0"><img src="{% static 'assets2/images/dashboard-2/user/1.png' %}" alt="Graph"></div>
                        <div class="flex-grow-1"> <a href="private-chat.html">
                            <h6 class="font-primary f-w-600">Hackett Yessenia</h6></a>
                          <p>Hello Miss...&#128522;</p>
                        </div><span>2 hours</span>
                      </li>
                      <li class="d-flex b-light1-secondary gap-2"> 
                        <div class="flex-shrink-0"><img src="{% static 'assets2/images/dashboard-2/user/2.png' %}" alt="Graph"></div>
                        <div class="flex-grow-1"> <a href="private-chat.html">
                            <h6 class="font-secondary f-w-600">schneider Adan</h6></a>
                          <p>Wishing You a Happy Birthday Dear..  🥳&#127882;</p>
                        </div><span>3 hours</span>
                      </li>
                      <li class="d-flex b-light1-success gap-2"> 
                        <div class="flex-shrink-0"><img src="{% static 'assets2/images/dashboard-2/user/3.png' %}" alt="Graph"></div>
                        <div class="flex-grow-1"> <a href="private-chat.html">
                            <h6 class="font-success f-w-600">Mahdi Gholizadeh</h6></a>
                          <p>Hello Dear!! This Theme Is Very beautiful</p>
                        </div><span>5 hours</span>
                      </li>
                      <li class="bg-transparent"><a class="f-w-700 btn btn-primary w-100" href="letter-box.html">View all</a></li>
                    </ul>
                  </div>
                </li>
                
                <li class="profile-nav onhover-dropdown px-0 py-0">
                  <div class="d-flex profile-media align-items-center"><img class="img-30" src="{% static 'assets2/images/dashboard/profile.png' %}" alt="">
                    <div class="flex-grow-1"><span>Nelson</span>
                      <p class="mb-0 font-outfit">Admin<i class="fa fa-angle-down"></i></p>
                    </div>
                  </div>
                  <ul class="profile-dropdown onhover-show-div">
                    <li><a href="private-chat.html"><i data-feather="user"></i><span>Perfil </span></a></li>
                    <li><a href="letter-box.html"><i data-feather="mail"></i><span>Menssagem</span></a></li>
                    <li><a href="edit-profile.html"><i data-feather="settings"></i><span>Conta</span></a></li>
                    <li><a href="{% url 'logout' %}"><i data-feather="log-in"> </i><span>Sair</span></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <script class="result-template" type="text/x-handlebars-template">
              <div class="ProfileCard u-cf">                        
              <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
              <div class="ProfileCard-details">
              <div class="ProfileCard-realName">{{name}}</div>
              </div>
              </div>
            </script>
           
          </div>
        </div>
        <!-- Page Header Ends                              -->
      </div>
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        {% include 'includes/usuario_menu.html' %}
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <!-- Container-fluid starts-->
          <div class="container-fluid dashboard-4">
            <div class="row">
              <div class="col-xl-6 col-md-12 proorder-md-1">  
                <div class="row"> 
                  <div class="col-xl-6 col-sm-6"> 
                    <div class="card">
                      <div class="card-body student">
                        <div class="d-flex gap-2 align-items-end"> 
                          <div class="flex-grow-1">
                            <h2>42,954</h2>
                            <p class="mb-0 text-truncate">Imoveis Publicados</p>
                            <div class="d-flex student-arrow text-truncate">
                              <p class="mb-0 up-arrow bg-light-danger"><i class="icon-arrow-down font-danger"></i></p><span class="f-w-500 font-danger">- 17.06%</span>than last 6 Month
                            </div>
                          </div>
                          <div class="flex-shrink-0"><img src="{% static 'assets2/images/dashboard-4/icon/student.png' %}" alt=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-sm-6"> 
                    <div class="card">
                      <div class="card-body student-2">
                        <div class="d-flex gap-2 align-items-end"> 
                          <div class="flex-grow-1">
                            <h2>659</h2>
                            <p class="mb-0 text-truncate">Imoveis Pendentes</p>
                            <div class="d-flex student-arrow text-truncate">
                              <p class="mb-0 up-arrow bg-light-success"><i class="icon-arrow-up font-success"></i></p><span class="f-w-500 font-success">+27.02%</span>than last 4 Month
                            </div>
                          </div>
                          <div class="flex-shrink-0"><img src="../assets/images/dashboard-4/icon/teacher.png" alt=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-sm-6"> 
                    <div class="card">
                      <div class="card-body student-3">
                        <div class="d-flex gap-2 align-items-end"> 
                          <div class="flex-grow-1">
                            <h2>984</h2>
                            <p class="mb-0 text-truncate">Imoveis Rejeitados</p>
                            <div class="d-flex student-arrow text-truncate">
                              <p class="mb-0 up-arrow bg-light-success"><i class="icon-arrow-up font-success"></i></p><span class="f-w-500 font-success">+ 12.01%</span>than last 8 Month
                            </div>
                          </div>
                          <div class="flex-shrink-0"><img src="../assets/images/dashboard-4/icon/calendar.png" alt=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-sm-6"> 
                    <div class="card">
                      <div class="card-body student-4">
                        <div class="d-flex gap-2 align-items-end"> 
                          <div class="flex-grow-1">
                            <h2>1,984</h2>
                            <p class="mb-0 text-truncate">Imoveis em Curso</p>
                            <div class="d-flex student-arrow text-truncate">
                              <p class="mb-0 up-arrow bg-light-danger"><i class="icon-arrow-down font-danger"></i></p><span class="f-w-500 font-danger">- 15.02%</span>than last 5 Month
                            </div>
                          </div>
                          <div class="flex-shrink-0"><img src="../assets/images/dashboard-4/icon/invoice.png" alt=""></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-md-6 proorder-md-2"> 
                <div class="card">
                  <div class="card-header card-no-border pb-0">
                    <div class="header-top">
                      <h4>Study Statistics</h4>
                      <div class="dropdown icon-dropdown">
                        <button class="btn dropdown-toggle" id="userdropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown"><a class="dropdown-item" href="dashboard-04.html#">Weekly</a><a class="dropdown-item" href="dashboard-04.html#">Monthly</a><a class="dropdown-item" href="dashboard-04.html#">Yearly</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body"> 
                    <div class="studay-statistics"> 
                      <ul class="d-flex align-item-center gap-2">
                        <li> <span class="bg-primary"> </span>UX Design</li>
                        <li> <span class="bg-secondary"> </span>Illustrations</li>
                      </ul>
                    </div>
                    <div id="study-statistics"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-md-12 proorder-md-4"> 
                <div class="card">
                  <div class="card-header card-no-border pb-0">
                    <div class="header-top">
                      <h4>Assignments</h4>
                      <div class="dropdown icon-dropdown">
                        <button class="btn dropdown-toggle" id="userdropdown1" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-more-alt"></i></button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown1"><a class="dropdown-item" href="dashboard-04.html#">Weekly</a><a class="dropdown-item" href="dashboard-04.html#">Monthly</a><a class="dropdown-item" href="dashboard-04.html#">Yearly</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pt-0 assignments-table px-0">
                    <div class="table-responsive theme-scrollbar">
                      <table class="table display" id="assignments-table" style="width:100%">
                        <thead>
                          <tr>
                            <th>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label"></label>
                              </div>
                            </th>
                            <th>Imagem</th>
                            <th>Titulo</th>
                            <th>Endereco</th>
                            <th>Preco</th>
                            <th>Tipo</th>
                            <th>Area</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for imoveis_publicado in  imoveis_publicados %}
                          <tr>
                            <td>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label"></label>
                              </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                  <div class="flex-shrink-0"><img src="{% if imoveis_publicado.imagem %}{{ imoveis_publicado.imagem.url }}{% else %}{% static 'assets/images/default/default.jpg' %}{% endif %}" alt=""></div>
                                </div>
                            </tr>
                            <td> <span>{{imoveis_publicado.titulo}}</span></td>
                            
                            </td>
                            <td>{{ imoveis_publicado.endereco }}</td>
                            <td>{{ imoveis_publicado.preco }}</td>
                            <td>{{ imoveis_publicado.tipo }}</td>
                            <td>{{ imoveis_publicado.area }} m²</td>
                            <td>{{ imoveis_publicado.status }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
               
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->
        {% include 'includes/footer2.html' %} 
      </div>
    </div>
  </body>
  </html>